@model IDGS901_tema1.Models.Temperatura
@{
    ViewBag.Title = "convertir";
}

<h2>Conversion</h2><br />

<h1>Tu conversión de @Html.DisplayFor(model => model.temperatura)° es de 
    @Html.DisplayFor(model => model.result)</h1>
