
@{
    ViewBag.message = "Hola";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Vista Nuevo(...)</h1>
        <p>@ViewBag.message</p>
    </div>
</body>
</html>
