
@{
    ViewBag.Message="Vista Nuevo 2";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vista2</title>
</head>
<body>
    <div> 
        <center><h1>@ViewBag.Message</h1></center>
    </div>
</body>
</html>
